.hero {
    display: flex;
    // justify-content: center;
    align-items: center;
    height: rem(540px);
    width: 100%;

    .hero-text {
        width: rem(500px);

        h3 {
            font-size: rem(42px);
            flex-grow: 1;
            display: block;
            line-height: rem(45px);
            overflow-x: visible;
            width: 120%;
            margin-bottom: rem(20px);

            span {
                display: block;
            }
        }

        p {
            font-size: rem(18px);
            font-weight: 100;
        }

        button {
            @include button;
            margin-top: rem(50px);
        }


    }

    .img-wrapper {
        position: relative;
        width: rem(815px);
        height: 100%;
        overflow: visible;


        img {
            position: absolute;
            // right: -50%;
            transform:translateY(-10px);
            z-index: -10;
            width: 115%;
            height: 100%;
            // left: 15px;
            object-fit: cover;
        }
    }
}