.featured-festival {
  .nav-wrapper {
    color: rgb(105, 113, 128);
    box-shadow: rgb(29 33 41 / 44%) 1px 20px 20px -11px;
    padding: 30px 0px 25px;
    align-items: center;
    
    
    
    nav {
      display: flex;
      height: 100%;
      align-items: center;
      
    }
  }
  a{
    margin-right: 30px;
  }
  .whats-hot{
    background-color:#f2f3f5 ;
    height: rem(200px);
    position: relative;
    h3{
      margin-top: rem(100px);
      font-size: rem(30px);
      color: rgb(29, 33, 41);
    }
    p{
      font-size: rem(16px);
      font-weight: 200;
    }

    ul{
      display: flex;
      gap: rem(26px);
      // height: ;
    }
    li{
      width: rem(547px);

      .img-wrapper{
        position: relative;
        width: 100%;
        .largeImg{
          width: 100%;
          height: rem(350px);
          border-radius: 6px;
          object-fit: cover;
        }
        .miniImg{
          position: absolute;
          right:rem(10px);
          top: rem(10px);
          width: rem(60px);
          height: rem(50px);
        }
        h4{
          margin-top: rem(18px);
          font-size: rem(20px);
        }
        p{
          font-size: rem(14px);
          line-height: rem(18px);
        }
      }
    }
    }
  .whats-hot::before{
    position: absolute;
    transform: translateY(100%);
    display: block;
    content: "";
    bottom: 0;
    height: 100px;
    width: 100%;
    background: #f2f3f5;
    z-index: -1;
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 0px);
    p{
      font-size: 16px;
    }
    
  
}
}
